main{
    padding: 24px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    border-radius: 8px;
    min-height: 1000px;
    font-family: 'First Legion', sans-serif;
    font-size: small;
}
aside {
    color: rgb(215, 198, 6);
}
.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    gap: 1rem;
    height: 100vh;
}
.sidebar{
    text-align: left;
    flex-basis: 16rem;
    background: rgb(5, 20, 120);
    padding: 1rem;
}
.not-sidebar{
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
    padding: 1rem;
}
.wrapper {
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
}
img {
    max-width: 100%;
    border-radius: 50%;
    
}
time {
    font-size: x-small;
    color: rgb(69, 68, 68);
}
.s {
    font-size: smaller;
    margin-bottom: auto;
}
ab{
    color: rgba(255, 0, 0, 0.836)!important;
}
.upbring {
    font-size: smaller;
}
.perk {
    font-size: smaller;
}
@font-face {
    font-family: 'Caliban Angelus';
    src: url('./fonts/Caliban Angelus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'First Legion';
    src: url('./fonts/First\ Legion.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}